// Typography Rules

@font-face {
    font-family: 'Poppins-Medium';
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url("../assets/fonts/Roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
}